$breakpoints: (
  xs: 48rem,
  // 480px / 10px = 48rem
  sm: 76.8rem,
  // 768px / 10px = 76.8rem
  md: 102.4rem,
  // 1024px / 10px = 102.4rem
  lg: 128rem,
  // 1280px / 10px = 128rem
  xl: 144rem, // 1440px / 10px = 144rem
);
