@use 'sass:map';
@use 'breakpoints';

@mixin respond($breakpoint, $direction: 'max') {
  $value: map.get(breakpoints.$breakpoints, $breakpoint);
  @if $value {
    @if $direction == 'min' {
      @media (min-width: $value) {
        @content;
      }
    } @else {
      @media (max-width: $value) {
        @content;
      }
    }
  } @else {
    @error "No value found for #{$breakpoint} in \$breakpoints map.";
  }
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin responsive-line-clamp($map) {
  // 예: $map: (base: 3, md: 2, sm: 1)
  @each $breakpoint, $lines in $map {
    @include respond($breakpoint) {
      @include line-clamp($lines);
    }
  }
}
