.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 0.8rem;

  .input {
    display: none;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: var(--radius-md);
    background-color: var(--color-neutral-200);
    color: var(--color-text-muted);
    line-height: 1.75;
    transition: all 0.2s ease;
    cursor: pointer;

    &:active {
      background-color: var(--color-neutral-400);
      transform: scale(0.96);
    }

    &.checked {
      background-color: var(--color-neutral-600);
      color: var(--color-text-primary);
    }
  }
}
