.wrap {
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }
  &.button {
    padding: 1rem 2rem;
    border-radius: var(--radius-md);
    background-color: var(--color-neutral-400);
    color: var(--color-text-primary);
    border: none;
    box-shadow: none;
    &:hover {
      background-color: var(--color-neutral-500);
    }
    &:disabled {
      background-color: var(--color-neutral-100);
      cursor: not-allowed;
    }
    &:active {
      background-color: var(--color-neutral-600);
      transform: scale(0.98);
    }
  }
}
