@use '@/styles/abstracts/mixins' as *;

.wrap {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    padding: 5rem 2rem;
    gap: 5rem 4rem;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    @include respond(md) {
      gap: 6rem;
      padding: 2rem;
    }
  }
}
